#wrapper {
	background-color: #c0c0c0;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/*------------Header block------------*/
#header {
	background-color: #4f210b;
	border-bottom: 5px solid #ef6423;
	color: #fefefe;
	display: inline-block;
	float: left; /*trick to remove spaces after header*/
	font-family: Verdana;
	margin-bottom: 10px;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, .9);
	width: 960px;
}

#logo {
	float: left;
	margin-left: 20px;
	text-align: center;
}

#logo p {
	margin-bottom: 0;
	margin-top: 11px;
}

.logo_large {
	font-size: 1.8em;
}

.logo_small {
	font-size: .8em;
}

#phones {
	float: right;
	margin-right: 20px;
}

#phones ul li {
	color: #ffffff;
	display: block;
	line-height: 190%;
	text-align: right;
}
/*------------------------------------*/

/*----------Navigation block----------*/
#sidebar {
	background-color: #ca774f;
	border-radius: 10px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 220px;
}

#navigation ul {
	font-family: Verdana;
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
	width: 200px;
}

#navigation ul li {
	display: block;
	margin-bottom: 10px;
	margin-top: 10px;
}

#navigation ul li a {
	background: #6ba316;
	border-bottom: 3px solid #3d1000;
	border-left: 3px solid #815444;
	border-radius: 10px;
	border-right: 3px solid #3d1000;
	border-top: 3px solid #815444;
	box-shadow: 1px 2px 1px rgba(0, 0, 0, .9);
	color: #fefefe;
	display: block;
	padding: 5px 21px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

#navigation ul li a:hover {
	background: #a37666;
	color: #c0c0c0;
}

#navigation ul li a:active {
	background: #86cc1c;
	box-shadow: none;
	color: #fefefe;
	position: relative;
	top: 2px;
	left: 1px;
}
/*------------------------------------*/

/*-----------Content block------------*/
#common_title {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#common_title span {
	font-size: 1.5em;
}

#content_title {
	background-color: #ece9e0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	text-align: right;
	width: 700px;
}

#content_title h3 {
	margin-right: 20px;
}

#content {
	background-color: #ece9e0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 700px;
	float: left;
}

#content h4 {
	text-align: center;
}

#content p {
	padding-left: 10px;
}

.contacts {
	float: left;
	margin-left: 20px;
}

.contact_icons {
	float: right;
	margin-right: 20px;
}

/*------------------------------------*/

/*------------Footer block------------*/
#footer {
	background-color: #4f210b;
	border-top: 5px solid #ef6423;
	clear: both;
	color: #ffffff;
	display: inline-block;
	font-size: 80%;
	margin-top: 10px;
	width: 960px;
	font-size: 80%;
}

#footer a {
	color: #ef6423;
}

#footer p {
	text-align: center;
}
/*------------------------------------*/